{
  "base_address": "C:/ecommerce",
  "platform": "Next.js",
  "ecommercePlatform": "Litium",
  "frontend_git_url": "https://github.com/vipulnathtvbridge/gleemart-fe.git",
  "backend_git_url": "https://github.com/vipulnathtvbridge/gleemart-bo.git",
  "backend": "C:/ecommerce\\trendcart\\gleemart-bo",
  "frontend": "C:/ecommerce\\trendcart\\gleemart-fe",
  "description": "",
  "owner": "",
  "status": "in-progress",
  "created_at": "2025-12-17T11:33:48.731436Z",
  "litium_api": {
    "LITIUM_API_BASE_URL": "https://localhost:5001/Litium/api/admin",
    "LITIUM_API_TOKEN": "YWdlbnQ6bGl0aXVt"
  },
  "DB_NAME": "trendcart",
  "DB_USER": "sa",
  "dbpass": "Bridge@123",
  "tempBannerImageID": "",
  "tempProductImageID": "",
  "configured": true,
  "productVariantImages": {
    "glove1": "345f51ff-f520-4de4-bc91-86e2db9592a8",
    "glove2": "a6694c51-fa12-4d9b-bee5-a46428e17e87",
    "glove3": "da814096-405a-424b-9f88-89362d44ded1",
    "glove4": "2ee0c949-3961-4f77-89d0-03efe3b0380e",
    "glove5": "91f7c397-1d5f-4e9e-84a6-a0cb36aa275c",
    "whiteglove": "89af8f92-becb-445e-9f48-d04af901e5d7",
    "yellowglove": "2fa456cb-9f98-401d-87b8-ab6ad74af9cd",
    "greenglove": "bfb8a5c0-e1d5-4452-bd46-ac84b62da732"
  },
  "project_name": "trendcart"
}